[submodule "dsor_utils"]
	path = dsor_utils
	url = https://github.com/dsor-isr/dsor_utils.git
[submodule "third_party/dmac"]
	path = third_party/dmac
	url = https://github.com/EvoLogics/dmac.git
[submodule "third_party/msgs/auv_msgs"]
	path = third_party/msgs/auv_msgs
	url = https://github.com/oceansystemslab/auv_msgs.git
[submodule "third_party/msgs/nmea_msgs"]
	path = third_party/msgs/nmea_msgs
	url = https://github.com/ros-drivers/nmea_msgs
